@model HotelApp.Models.Hotel.VM.RoomVM
@if (TempData["success"] != null)
{
    <h1>@TempData["success"]</h1>
}
@if (TempData["error"] != null)
{
    <h1>@TempData["error"]</h1>
}

<h1 class="text-center my-4">Add room for: @Model.HotelName</h1>
<form method="post" enctype="multipart/form-data" class="container" asp-action="CreateRoom">
    <input type="number" hidden asp-for="HotelId" />
    <div class="border p-4 rounded shadow-sm">

        <div class="mb-3 row">
            <label asp-for="RoomNumber" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="RoomNumber" class="form-control" />
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="RoomType" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="RoomType" class="form-control" />
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="Price" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Price" class="form-control" />
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="StatusRoom" class="col-sm-2 col-form-label"></label>
           <div class="col-sm-10">
            <select asp-for="StatusRoom" class="form-control">
            <option value="Available">Available</option>
            <option value="Occupied">Occupied</option>
            <option value=" Maintenance"> Maintenance</option>
           </select>
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="BedCount" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="BedCount" class="form-control" />
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="RoomImgUrl" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input type="file" name="roomImages" class="form-control" />
                <input type="hidden" name="roomImgUrl" value="@Model.RoomImgUrl" class="form-control" />
            </div>
        </div>
    </div>

    <div class="text-center row">
        <div class="col">
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </div>
        <div class="col">
            <a asp-controller="Hotel" asp-action="Index" class="btn btn-dark w-100">Quay lại</a>
        </div>
        <div class="col">
            <button type="reset" class="btn btn-warning w-100">Reset all</button>
        </div>
    </div>
</form>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
