@model HotelApp.Models.Hotel.VM.ConfirmBookingVM

<h2>Confirm booking</h2>

<form asp-action="AcceptBooking" method="post">
    <input type="hidden" asp-for="RoomBookingId" />
    <div class="form-group">
        <label asp-for="FullName" class="control-label"></label>
        <input asp-for="FullName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Nationality" class="control-label"></label>
        <input asp-for="Nationality" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Confirm and payment</button>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary">Return</a>
</form>

