@model HotelApp.Models.Hotel.Hotel
@if (TempData["success"] != null)
{
    <h1>@TempData["success"]</h1>
}
<h1>Create a hotel</h1>
<form method="post">
    <div class="border p-3 pt-4">
    <div class="mb-3 row">
        <label asp-for="HotelName"></label>
        <input asp-for="HotelName" />
    </div>
    <div class="mb-3 row">
        <label asp-for="Description"></label>
        <input asp-for="Description" />
    </div>
    <div class="mb-3 row">
        <label asp-for="City"></label>
        <input asp-for="City" />
    </div>
    <div class="mb-3 row">
        <label asp-for="NumberPhone"></label>
        <input asp-for="NumberPhone" />
    </div>
    <div class="mb-3 row">
        <label asp-for="AverangeRating"></label>
        <input asp-for="AverangeRating" />
    </div>
    <div class="mb-3 row">
        <label asp-for="Lattitube"></label>
        <input asp-for="Lattitube" />
    </div>
    <div class="mb-3 row">
        <label asp-for="Longitude"></label>
        <input asp-for="Longitude" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary"> Back to list</a>
    </div>
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}