@page
@model HotelApp.Areas.Identity.Pages.Account.ResetPasswordByEmail
@{
    ViewData["Title"] = "ResetPasswordByEmail";
}

<h1>@ViewData["Title"]</h1>
<p style="color:green">Please wait the system send email confirm to your email address, make sure your email is valid</p>
