@page
@model HotelApp.Areas.Identity.Pages.Account.ResetPasswordSycessfully
@{
    ViewData["Title"] = "Reset Password Successfully";
}

<h1>@ViewData["Title"]</h1>
<p style="color:green">Your password reset successfully. <a href="/Identity/Account/Login">Go to login</a> </p>
