@model Room
<h1>Create room</h1>
<form asp-action="CreateRoom" method="post">

    <div class="form-group">
        <label asp-for="RoomNumber"></label>
        <input asp-for="RoomNumber" class="form-control" />
        <span asp-validation-for="RoomNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RoomType"></label>
        <input asp-for="RoomType" class="form-control" />
        <span asp-validation-for="RoomType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StatusRooms"></label>
        <select asp-for="StatusRooms" class="form-control">
            <option value="Available">Available</option>
            <option value="Occupied">Occupied</option>
            <option value="Maintenance">Maintenance</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="BedCount"></label>
        <input asp-for="BedCount" class="form-control" />
        <span asp-validation-for="BedCount" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="HotelId" value="@ViewBag.HotelId" />
    <div class="text-center row">
        <div class="col">
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </div>
        <div class="col">
            <a asp-controller="Room" asp-action="Index" class="btn btn-secondary w-100">Back to list</a>
        </div>
        <div class="col">
            <button type="reset" class="btn btn-warning w-100">Reset all</button>
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}