@model HotelApp.Models.Hotel.VM.RoomVM
@if (TempData["success"] != null)
{
    <h1>@TempData["success"]</h1>
}
Nothing



@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
