@{
    ViewData["Title"] = "Payment Success";
}

<h2>@ViewData["Title"]</h2>

<p style="color:green; font-family:'Times New Roman', Times, serif">Thank you for your payment. Your booking has been confirmed.</p>

